{% extends 'base.html' %}

{% block title %}Удаление с подтверждением{% endblock %}

{% block add_task %}
    {% if perms.webapp.add_task %}
        <li class="nav-item">
            <a class="nav-link active white" aria-current="page" href="{% url 'add_view' %}">Добавить
                задачу
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col">
                <h2 class="padding-left-tasks-h2">
                    Вы точно хотите удалить задачу?
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 padding-left-tasks">
                <h5>{{ task.title }}</h5>
                <p>{{ task.description }}</p>
                <p><b>{{ task.status }}</b></p>
                <p>{{ task.ended_at }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 button-margin">
                <form action="{% url 'confirm_delete' task.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class='btn btn-danger'>Удалить</button>
                </form>
            </div>
            <div class="col-1">
                <a href="{% url 'tasks_view' %}" class='btn btn-success'>Отмена</a>
            </div>
        </div>
    </div>
{% endblock %}