{% extends 'base.html' %}

{% block title %}Подробный просмотр задачи{% endblock %}

{% block add_task %}
    {% if perms.webapp.add_task %}
        <li class="nav-item">
            <a class="nav-link active white" aria-current="page" href="{% url 'add_view' %}">Добавить
                задачу
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col">
                <h1 class="h1-detail">
                    Подробный просмотр задачи
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 padding-left-tasks">
                <h5>{{ task.title }}</h5>
                {% if types %}
                    <div class="row">
                        {% for type in types %}
                            <div class="col-3">
                                <p class="tag">#{{ type }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <p><b>{{ task.status }}</b></p>
                <p>{{ task.description }}</p>
                <p>{{ task.ended_at }}</p>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                {% if perms.webapp.delete_task %}
                    <div class="col-1 button-margin">
                        <a href="{% url 'task_delete' task.pk %}" class='btn btn-danger '>Удалить</a>
                    </div>
                {% endif %}
                {% if perms.webapp.change_task %}
                    {% if not perms.delete_task %}
                        <div class="col-1 button-margin">
                            <a href="{% url 'task_update' task.pk %}" class='btn btn-success'>Редактировать</a>
                        </div>
                    {% else %}
                        <div class="col-1">
                            <a href="{% url 'task_update' task.pk %}" class='btn btn-success'>Редактировать</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

